/*
Author: Gun Gun Gumilar
*/
@font-face{
    font-family:'Fabelio';
    src:url('fonts/Fabelio/Fabelio-45Regular.eot');
    src:url('fonts/Fabelio/Fabelio-45Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Fabelio/Fabelio-45Regular.woff') format('woff'),
    url('fonts/Fabelio/Fabelio-45Regular.ttf') format('truetype');
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
#app {
    font-family: Fabelio,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width:780px;
    margin: 0 auto;
    font-size: 14px;
}
p {
    font-size: 14px;
    margin: 1em 0 0.5em 0;
}
.filter-data {
    width: 100%;
    clear: both;
    margin: 15px 0;
    padding:15px 0;
    display: inline-block;
    background: #0f6cc8;
}

.search {
    width:45%;
    margin-top:13px;
    margin-left:15px;
    padding:5px;
    font-size:18px;
    font-weight:bold;
    background-color: #0f6cc8;
    color:#eee;
    border-bottom: 2px solid #eee;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
::-webkit-input-placeholder { /* Edge */
    color: #eee;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
}

::placeholder {
    color: #eee;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}
.products  {
    padding:0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    padding:15px;
}
.product-item .product-name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}
.product-item .price {
    float: right;
    margin: 5px 0;
    font-size: 14px;
    color:#ffa223;
}
.product-item .product-style  {
    color:#4a8bd3;
}

.product-item .delivery  {
    text-align: right;
    margin-top:5px;
}
.product-item .delivery svg {
    width: 15px;
    color: #4a8bd3;
}
.product-item .delivery .label {
    font-size: 14px;
    padding: 0 3px;
    color: #4a8bd3;
    font-weight: bold;
    vertical-align: top;
}

.multiselect {
    width: 46%;
}
.card {
    position: relative;
    width: 46%;
    margin: 15px;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.product-not-found {
    width: 300px;
    margin: 0 auto;
    padding: 20px 30px;
    background: #cc4545;
    color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 779px) {
    #app {
        width:100%;
    }
    .card,
    .multiselect {
        width:44%;
    }
}
@media only screen and (max-width: 515px) {
    .card, 
    .multiselect {
        width:100%;
    }
}